<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Teste de API</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-controller="ctrl" class="container">
  <section class="row">
    <div class="col-sm-12 text-center">
      <div class="jumbotron">
        <h1>Teste de API</h1>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-sm-6">
      <form ng-submit="enviar()">
        <div class="form-group">
          <label for="url">URL</label>
          <input type="text" id="url" class="form-control" ng-model="url" required="">
        </div>
        <div class="form-group">
          <label for="texto">JSON</label>
          <textarea id="texto" class="form-control" rows="4" ng-model="texto"></textarea>
        </div>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" class="form-control" ng-model="usuario">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="text" id="senha" class="form-control" ng-model="senha">
        </div>
        <button type="submit" class="btn btn-default btn-lg">Enviar</button>
      </form>
    </div>
    <div class="col-sm-6">
      <label for="texto">Retorno</label>
      <pre>{{retorno | json}}</pre>
      <div class="alert alert-danger" role="alert" ng-hide="erro==undefined">
        <strong>Erro:</strong> {{erro}}
      </div>
	<p>{{retorno.nome}}</p>
    </div>
  </section>
  <script>
  var app = angular.module("app", []);
  app.controller("ctrl", function ($scope, $http) {
    $scope.enviar = function () {
      var obj = null;
      try {
        if ($scope.texto !== undefined && $scope.texto !== "") {
          obj = JSON.parse($scope.texto);
        }
      } catch (e) {
        $scope.erro = "Não foi possível converter texto em objeto JSON";
      }
      if ($scope.usuario !== undefined && $scope.usuario !== ""){
        $http.defaults.headers.common['Authorization'] = "Basic " + btoa($scope.usuario + ":" + $scope.senha);
      }
      $scope.retorno = "Carregando...";
      $http.post($scope.url, obj).then(function (result) {
            $scope.erro = undefined;
            $scope.retorno = result.data;
          },function (error) {
            $scope.erro = "Não foi possível comunicar-se com a API";
            $scope.retorno = undefined;
          });
    };
  });
  </script>
</body>
</html>
